on boot
    chown system system /sys/class/backlight/acpi_video0/brightness

    chown system audio /dev/snd/
    chmod 0775 /dev/snd/

    chmod /data/misc/hcid 0770 bluetooth bluetooth
    
    mkdir /SSD 0777 system system
    mount ext3 /dev/block/sda1 /SSD

    symlink /dev/snd/pcmC0D0c /dev/pcmC0D0c
    symlink /dev/snd/pcmC0D0p /dev/pcmC0D0p
    symlink /dev/snd/controlC0 /dev/controlC0
    symlink /dev/snd/timer /dev/timer

    setprop ro.radio.use-ppp yes
    setprop ro.radio.noril no
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50 
    setprop status.battery.level_scale 9

service viewpad10init /system/bin/sh /system/etc/init.viewpad10.sh
	oneshot
